<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huytran.goodlife">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_EMAIL" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/iconh"
        android:label="NutriBot"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/iconh"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoodLife"
        tools:targetApi="31">
        <activity
            android:name=".pages.scanner.ScannerTensorFlowActivity"
            android:exported="false" />
        <activity
            android:name=".pages.scanner.ScannerActivity"
            android:exported="false" />
        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.chat_bot.ChatBotActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".pages.recommend_menu.RecommendMenuNum5Activty"
            android:exported="false" />
        <activity
            android:name=".pages.recommend_menu.RecommendMenuNum4Activity"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.OverWeightActivity"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.NutritionPubertyPeriodActivity"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.MalnutritionActivity"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.NutritionMentalHealthActivity"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.NutritionPhysicalActivityActivity"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.ExamSeasonNutritionActivity"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.NutritionSchoolHealthActivity"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.BasicNutritionActivity"
            android:exported="false" />
        <activity
            android:name=".pages.recommend_menu.RecommendMenuNum3Activity"
            android:exported="false" />
        <activity
            android:name=".pages.recommend_menu.RecommendMenuNum2Activity"
            android:exported="false" />
        <activity
            android:name=".pages.recommend_menu.RecommendMenuNum1Activity"
            android:exported="false" />
        <activity
            android:name=".pages.notification.NotificationDataActivity"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <receiver android:name=".pages.notification.NotificationReceiverActivity" />

        <activity
            android:name=".pages.recommend_menu.RecommendMenuActivity"
            android:exported="false" />
        <activity
            android:name=".pages.water_demand.WaterDemandActivity"
            android:exported="false" />
        <activity
            android:name=".pages.contact.ContactWithNutritionistActivity"
            android:exported="true" />
        <activity
            android:name=".pages.question_and_answer.QuestionAndAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".pages.contact.ContactSupportTeamActivity"
            android:exported="false" />
        <activity
            android:name=".pages.app_ranking.AppRankingActivity"
            android:exported="false" />
        <activity
            android:name=".pages.about_us.AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".pages.tracking_diagram.TrackingDiagramActivity"
            android:exported="false" />
        <activity
            android:name=".pages.notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".pages.user_info.UserInformationActivity"
            android:exported="false" />
        <activity
            android:name=".pages.template_menu.TempMenuDataActivity"
            android:exported="false" />
        <activity
            android:name=".pages.template_menu.TemplateMenuActivity"
            android:exported="false" />
        <activity
            android:name=".pages.dietary.DiaryItemDataActivity"
            android:exported="false" />
        <activity
            android:name=".pages.dietary.ItemDataActivity"
            android:exported="false" />
        <activity
            android:name=".pages.physical.PhysicalActivity"
            android:exported="false" />
        <activity
            android:name=".pages.dietary.DietaryActivity"
            android:exported="false" />
        <activity
            android:name=".pages.calculate_nutritional_status.CalculateNutritionalStatusActivity"
            android:exported="false" />
        <activity
            android:name=".pages.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".pages.login.LoginScreenActivity"
            android:exported="false" />
        <activity
            android:name=".pages.register.RegisterActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>