<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.huytran.goodlife">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.SEND_EMAIL" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/iconh"
        android:label="NutriBot"
        android:largeHeap="true"
        android:roundIcon="@mipmap/iconh"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoodLife"
        tools:targetApi="31"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".pages.chat_bot.ChatBot"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".pages.recommend_menu.RecommendMenuNum5"
            android:exported="false" />
        <activity
            android:name=".pages.recommend_menu.RecommendMenuNum4"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.OverWeight"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.NutritionPubertyPeriod"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.Malnutrition"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.NutritionMentalHealth"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.NutritionPhysicalActivity"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.ExamSeasonNutrition"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.NutritionSchoolHealth"
            android:exported="false" />
        <activity
            android:name=".pages.question_and_answer.BasicNutrition"
            android:exported="false" />
        <activity
            android:name=".pages.recommend_menu.RecommendMenuNum3"
            android:exported="false" />
        <activity
            android:name=".pages.recommend_menu.RecommendMenuNum2"
            android:exported="false" />
        <activity
            android:name=".pages.recommend_menu.RecommendMenuNum1"
            android:exported="false" />
        <activity
            android:name=".pages.notification.NotificationData"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <receiver android:name=".pages.notification.NotificationReceiver" />

        <activity
            android:name=".pages.recommend_menu.RecommendMenu"
            android:exported="false" />
        <activity
            android:name=".pages.water_demand.WaterDemand"
            android:exported="false" />
        <activity
            android:name=".pages.contact.ContactWithNutritionist"
            android:exported="true" />
        <activity
            android:name=".pages.question_and_answer.QuestionAndAnswer"
            android:exported="false" />
        <activity
            android:name=".pages.contact.ContactSupportTeam"
            android:exported="false" />
        <activity
            android:name=".pages.app_ranking.AppRanking"
            android:exported="false" />
        <activity
            android:name=".pages.about_us.AboutUs"
            android:exported="false" />
        <activity
            android:name=".pages.tracking_diagram.TrackingDiagram"
            android:exported="false" />
        <activity
            android:name=".pages.notification.Notification"
            android:exported="false" />
        <activity
            android:name=".pages.user_info.UserInformation"
            android:exported="false" />
        <activity
            android:name=".pages.template_menu.TempMenuData"
            android:exported="false" />
        <activity
            android:name=".pages.template_menu.TemplateMenuView"
            android:exported="false" />
        <activity
            android:name=".pages.dietary.DiaryItemData"
            android:exported="false" />
        <activity
            android:name=".pages.dietary.ItemData"
            android:exported="false" />
        <activity
            android:name=".pages.physical.Physical"
            android:exported="false" />
        <activity
            android:name=".pages.dietary.Dietary"
            android:exported="false" />
        <activity
            android:name=".pages.calculate_nutritional_status.CalculateNutritionalStatus"
            android:exported="false" />
        <activity
            android:name=".pages.home.HomePage"
            android:exported="false" />
        <activity
            android:name=".pages.login.LoginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.register.RegisterPage"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>